.title-list{
font-size: 20px;
	padding: 10px 10px;
	font-weight: bold;
}
a{
	font-size: 18px;
	padding: 5px 5px;
	font-weight: 500;
}
.title{
	font-size: 20px;
	padding: 10px 10px;
	font-weight: 400;
}
.text-copy
{
	font-size: 20px;
	padding: 8px 8px;
	font-weight: 400;
}