.title-list{
font-size: 24px;
	padding: 10px 10px;
	font-weight: bold;
}
a{
	font-size: 24px;
	padding: 10px 10px;
	font-weight: 500;
}
.title{
	font-size: 20px;
	padding: 10px 10px;
	font-weight: 400;
}
.text-copy
{
	font-size: 20px;
	padding: 10px 10px;
	font-weight: 400;
}