button,
input {
    border: none;
    font-size: 1rem;
}

button {
    background-color: #1e90ff;
    /* color: #ffffff; */
    padding: 0.75rem 1rem;
    transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in;
}

button + button {
    margin-left: 0.25rem;
}

button:focus {
    box-shadow: 0 0 5px#2a333b;
    outline: none;
}

button:hover {
    background-color: #1880e7;
}

form {
    background-color: white;
    color: #463d3d;
    padding: 1.5rem 2rem;
    text-align: left;
}

h1 {
    color: white;
    font-weight: lighter;
    padding-top: 1.5rem;;
    text-align: center;
    font-weight: 500;

}

input {
    border-bottom: 1px solid #532727;
    display: block;
    margin: 1.5rem 0 0.5rem;
    padding: 0.5rem 0;
    transition: border 0.3s ease-in;
}

input:focus {
    border-color: #1e90ff;
    outline: none;
}

/* label {
    color: #e2cccc;
    display: block;
    opacity: 0;
    transform: translateY(-2rem);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
} */

input:focus + label,
input:not(:placeholder-shown) + label {
    opacity: 1;
    transform: translateY(-4.25rem);
}

input[type='text'],
input[type='password'] {
    width: 100%;
}

.cancel {
    background-color: #ff0000;
}

.cancel:focus {
    box-shadow: 0 0 5px #db0101;
    outline: none;
}

.cancel:hover {
    background-color: #ff0000;
}

.form {
    /* background-color: #5382e9; */
    background-color: #33b5e5;
    border: 1px solid #2a3a66;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    color: #a08f8f;
    width: 100%;
    margin: 20px auto auto auto;
    max-width: 400px;
    text-align: center;
    align-self: center;
    justify-content: center;
    
}
.text{
    /* background-color: teal; */
    height: 80px;
}
.btn{
     background-color: #1880e7;
}